
.saikasyap_centerheader{
  text-align:center;
  background: url(https://upload.wikimedia.org/wikipedia/commons/3/35/Neckertal_20150527-6384.jpg);
}
.profile-pic{
    border-radius:50%;
}
.textedit1{
  font-family: cursive;
  text-align:center;
  font-weight: 500;
}
#about{
  background-color: aqua;
}
.textedit2{
  font-size: 25px;
  text-align:center;
  font-family: Helvetica;
}
.textedit3{
  font-size: 25px;
  text-align:center;
  font-family: Helvetica;
}
.carousel-item {
 height: 600px;
 text-align: center;
}
#contact{
  text-align:center;
  font-family: cursive;
  background-color: bisque;
}
#foot1{
  background-color:black;
  color:white;
  text-align:center;
  font-family:Helvetica;
}
.projectshead{
  text-align:center;
  font-family:cursive;
  color:black;
}
.leftbox,
.middlebox,
.rightbox {
  width: 33.33%;
  float: left;
  
}

